{{ define "main" }}
    <div class="container mx-auto flex items-start">

        <nav class="w-2/12">
            <h3 class="mb-4">Modules</h3>
            <div class="border rounded border-gray-300 p-0 mb-12">
                {{ partial "learn/modules" (dict "context" . "module" .) }}
            </div>
        </nav>

        <div class="w-8/12">
            <header class="container mx-auto py-8 border-b border-gray-300 px-4">
                <h1>{{ .Title }}</h1>
                {{ if .Params.description }}
                    <p class="text-xl text-gray-600">
                        {{ .Params.description }}
                    </p>
                {{ end }}
                {{ if .Params.meta_video }}
                    <div>
                        <video
                            class="rounded"
                            src="https://s3.amazonaws.com/cnunciato-website-media/video/2019-07-08-07-56-04.mp4"
                            alt="{{ .Title }}"
                            poster="{{ (.Resources.GetMatch .Params.meta_image).RelPermalink }}"
                            controls></video>
                    </div>
                {{ else if .Params.meta_image }}
                    <img class="rounded" src="{{ (.Resources.GetMatch .Params.meta_image).RelPermalink }}" alt="{{ .Title }}">
                {{ end }}
            </header>
            <section class="container mx-auto max-w-3xl py-8 px-4">
                {{ .Content }}
            </section>
            <section class="container mx-auto max-w-3xl px-4">
                <div class="md:flex">
                    <div class="md:w-1/2">
                        <h4>What you'll learn:</h4>
                        <ul>
                            {{ range .Params.youll_learn }}
                                <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    <div class="md:w-1/2">
                        <div class="rounded bg-gray-100 py-4 px-6">
                            <p>Some additional metadata:</p>
                            <p>
                                Things, and stuff, and how long this will
                                take, etc. We'll fill it all out, promise.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container mx-auto max-w-3xl py-8 px-4">
                <h3 class="mb-4">{{ .Title }} Topics</h3>
                <div class="border rounded border-gray-300 p-0 mb-12">
                    {{ partial "learn/topics" (dict "context" . "module" .) }}
                </div>
            </section>
        </div>

        <nav class="w-2/12">

        </nav>
    </div>

{{ end }}
